@media all and (max-width:1200px) {
	.hide-tab,
.pager-text {
    display: none
}

ul.service-list li {
    width: 50%;
    margin-right: 0;
    text-align: left
}

.font18 {
    font-size: 17px
}

.team-designation,
.work .team-heading {
    font-size: 20px
}

.work li h1 {
    font-weight: 700
}

.team-heading {
    font-size: 30px
}

.pad-9 {
    padding-left: 1.5rem
}

.banglore-location:before,
.delhi-location:before {
    content: " "
}

.client-heading {
    position: relative;
    right: 40%
}

ul.clients {
    padding-left: 0
}

.digital-services {
    padding-bottom: 10rem
}

.para-padding,
.para-padding-small {
    padding-left: 1rem;
    padding-right: 1rem
}

.quote ul,
ul.career {
    padding-left: 0
}

h1 {
    font-size: 2rem
}

.home-heading {
    font-size: 40px
}

.back-light:after {
    height: 27px
}

.back-dark:after {
    height: 10px
}

.quote ul li {
    width: 13%
}

.content-icon,
.digital-icon,
.online-icon,
.seo-icon,
.social-icon,
.web-application-icon,
.web-design-icon,
.web-developement-icon {
    margin-left: 1.5rem
}

.bx-pager-item:after {
    content: "";
    height: 1px;
    width: 2.5rem;
    background-color: gray;
    position: absolute;
    left: 53px;
    top: 12px
}

.bx-wrapper .bx-pager.bx-default-pager a {
    margin-left: 2rem
}

.font20 {
    font-size: 15px
}

.font24 {
    font-size: 20px
}

.quote input[type=email]::-webkit-input-placeholder,
input[type=phone]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder {
    font-size: 10px
}

.pd-13 {
    padding-top: 3px!important;
}
}

@media all and (max-width:780px) {
    .bx-pager {
        display: none
    }
    .work .bx-wrapper .bx-controls-direction a {
        top: 20%!important
    }
    .work .bx-wrapper .bx-next {
        right: 3px!important
    }
    .work .bx-wrapper .bx-prev {
        left: 3px!important
    }
    h1 {
        font-size: 1.3rem!important
    }
    h3 {
        font-size: .8rem!important
    }
    .heading {
        font-size: 30px!important
    }
    .padt-5 {
        padding-top: 1rem!important
    }
    .pad-5 {
        padding-left: 0!important
    }
    .content-icon,
    .digital-icon,
    .online-icon,
    .seo-icon,
    .social-icon,
    .web-application-icon,
    .web-design-icon,
    .web-developement-icon {
        margin-left: 2.5rem!important
    }
    .quote ul,
    .quote1 ul {
        padding-left: 0;
        width: 100%!important
    }
    .quote ul li,
    .quote1 ul li {
        width: 100%!important;
        margin-left: 0
    }
    .quote1 ul li:last-child {
        width: 100%!important;
        padding-top: .5rem
    }
    .quote ul li {
        padding-top: 1.5rem
    }
    .quote1 ul li select {
        width: 83%
    }
    .quote span {
        display: block
    }
    .nav,
    .nav li ul {
        display: none;
        width: 100%
    }
    .get-down {
        width: 100%!important
    }
    .fixed-header {
        position: absolute!important
    }
    .nav {
        background-color: rgba(0, 0, 0, .9);
        top: 97%;
        right: 0;
        padding: .5rem;
        position: absolute
    }
    .nav li ul {
        position: static;
        padding-top: 3%
    }
    .Icon,
    .nav>li {
        display: block
    }
    .nav>li {
        width: 100%;
        padding-top: .3rem;
        position: relative
    }
    .Icon,
    .Icon span {
        position: absolute
    }
    .nav li a {
        color: #fff
    }
    .nav>li:last-child {
        margin-left: 0;
        padding-left: 1rem
    }
    .nav li:last-child a {
        background-color: transparent;
        color: #fff!important;
        padding: .3rem
    }
    .nav li:last-child:before {
        background-color: #1ba6f7
    }
    .Icon {
        top: 60px;
        right: 5%;
        background: #fff;
        height: 29px;
        width: 40px;
        transition: all .5s ease-in-out 0s;
        transform: rotate(0);
        opacity: 1;
        cursor: pointer;
        z-index: 1
    }
    .Icon span {
        height: 3px;
        background: #000;
        width: 30px;
        top: 10px;
        margin-left: 5px;
        transition: all .25s ease-in-out 0s
    }
    .Icon span:nth-child(1) {
        top: 6px
    }
    .Icon span:nth-child(2),
    .Icon span:nth-child(3) {
        top: 13px;
        right: 2%
    }
    .Icon span:nth-child(4) {
        top: 20px
    }
    .Icon.open span:nth-child(1),
    .Icon.open span:nth-child(4) {
        width: 0
    }
    .Icon.open span:nth-child(2) {
        transform: rotate(45deg)
    }
    .Icon.open span:nth-child(3) {
        display: block;
        transform: rotate(-45deg)
    }
    .bodyOverlay.opa {
        opacity: 0;
        display: none
    }
    .content-marketing-services,
    .copywriting-services,
    .corporate-services,
    .digital-services,
    .domain-services,
    .ecommerce-services,
    .email-services,
    .online-services,
    .ppc-services,
    .seo-services,
    .social-services,
    .web-application-services,
    .web-developement-services,
    .web-mobile-services {
        background-color: #eee;
        background-image: none;
        padding-top: 1rem;
        padding-bottom: 1rem
    }
    .asp-banner,
    .b2b-banner,
    .b2c-banner,
    .chat-banner,
    .cms-banner,
    .conversion-banner,
    .copywriting-banner,
    .corporate-banner,
    .corporate-web-banner,
    .digital-banner,
    .domain-banner,
    .ecommerce-banner,
    .email-banner,
    .graphic-banner,

    .html-banner,
    .magento-banner,
    .online-banner,
    .php-banner,
    .ppc-banner,
    .psd-banner,
    .seo-banner,
    .social-banner,
    .ux-banner,
    .web-application-banner,
    .web-developement-banner,
    .web-mobile-banner {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-position: center center;
        background-attachment: local;
        background-size: cover
    }
    .back-light:after {
        height: 0!important
    }
    ul.digital {
        padding-left: 0
    }
    ul.digital h1 {
        font-size: 1.2rem!important
    }
    .container {
        padding-left: 1px!important;
        padding-right: 1px!important
    }
    .digital-services {
        padding-bottom: 2rem!important
    }
    .home-work .font18 {
        font-size: 12px
    }
    .client-top {
        padding-top: 9.5rem
    }
    .client-heading {
        top: 140px!important;
        padding: .5rem;
        text-align: center!important;
        right: 154px!important;
        position: absolute!important
    }
    ul.clients li {
        width: 25%
    }
    .mobile-clients,
    ul.clients li img {
        width: 100%
    }
    .block a {
        background-position: 94% 50%!important
    }
    .pager-text,
    ul.social span {
        display: none
    }
    .home-overlay .text {
        height: 93.5%!important
    }
    .ww {
        width: 35%
    }
    .home-heading {
        line-height: 25px!important
    }
    .quote .border-bottom-0 {
        border-bottom: 1px solid #000!important
    }
    .quote1 .border-bottom-0 {
        border-bottom: 1px solid #fff!important
    }
    .border-bottom,
    .border-bottom-white {
        border-bottom: 0!important
    }
    .pl-client {
        padding-left: 2rem!important
    }
    .quote input[type=email]::-webkit-input-placeholder,
    input[type=phone]::-webkit-input-placeholder,
    input[type=text]::-webkit-input-placeholder {
        font-size: 15px!important
    }
    .quote1 input[type=email]::-webkit-input-placeholder,
    input[type=phone]::-webkit-input-placeholder,
    input[type=text]::-webkit-input-placeholder {
        font-size: 15px!important
    }
    ul.service-list li {
        width: 47%;
        margin-right: 1%;
        text-align: center!important
    }
    footer .container {
        max-width: 96%
    }
    a,
    footer .container p {
        font-size: 13px!important
    }
    .foot-pad {
        padding-left: 60px
    }
    .footer-div:before {
        left: 15px
    }
    .request-quote .close-button {
        top: -63px;
        right: 20px;
        color: #fff
    }
    .request-quote {
        position: relative
    }
}


















